.header_content  {
		height: 75%;
	}

	.header_menu  {
		height: 45%;
    	width: 85%;
    	margin: 0 auto;
	}

	.header_menu_logo  {
		display: inline-block;
	    padding-top: 51px;
	}

	.header_menu_nav  {
		float: right;
		margin-top: 64px;
	}

	.header_menu_nav li  {
		display: inline;
		margin: 0px 0 0 30px;
    	padding: 0px 5px;
	}

	.slider  {
		/*background-color: rgba(0, 0, 0, 0.35);*/
		min-height: 400px;
		position: relative;
		width: 95%;
	}

	.slider_content  {
		margin: 0 auto;
		min-height: 400px;
		width: 80%;
	}

	.slider_container  {
		width: 95%;
	}

	.slider_container_maintitle  {
		font-size: 50px;
		padding-top: 45px;
	}

	.slider_container_title  {
		font-size: 32px;
	}

	.slider_container_content  {
		font-size: 18px;
		height: 90px;
		line-height: 1.5;
		overflow: hidden;
		width: 55%;
	}

	.slider_container_photo img  {
		margin: -17px 0 0 0;
		max-width: 55%;
	}

	.slider_arrow1 img  {
		position: absolute;
	    top: 44%;
	    left: 1%;
	}

	.slider_arrow2 img  {
		position: absolute;
	    top: 44%;
	    right: 1%;
	}

	.slider_nav  {
		position: absolute;
		right: 20%;
    	bottom: -4%;
	}

	.slider_nav li a  {
		background-image: url(../img/page_960.png);
		display: block;
		height: 0;
		overflow: hidden;
		padding-top: 17px;
		text-decoration: none;
		width: 18px;
	}

	.slider_nav li a:hover  {
		background-position: 0 -17px;
	}

	.blurb  {
		background: #745083;
		height: 70%;
	}

	.blurb_content  {
		height: 100%;
		margin: 0 auto;
		width: 95%;
	}

	.article  {
		float: left;
		margin: 66px 23px;
		width: 20%;
	}

	.article_img1  {
		background-image: url(../img/imgs.png); 
		height: 42px;
		float: left;
		margin: 9px 25px 0 -8px;
		width: 27px;
	}

	.article_img2  {
		background-image: url(../img/imgs.png);
		background-position: -340px 0; 
		height: 42px;
		float: left;
		margin: 9px 25px 0 -8px;
		width: 27px;
	}

	.article_img3  {
		background-image: url(../img/imgs.png);
		background-position: -664px 0;
		height: 42px;
		float: left;
		margin: 9px 25px 0 -8px;
		width: 27px;
	}

	.article_title  {
		font-size: 30px;
	}

	.article_body  {
		font: 16px 'Open SansRegular';
		height: 90px;
		overflow: hidden;
	}

	.article a  {
		float: right;
		font-size: 18px;		
		margin: 30px 0 0 0;
	}

	.main  {
		height: 100%;
	}

	.main_content  {
		height: 70%;
		margin: 0 auto;
		width: 90%;
	}

	.testimonial  {
		display: inline-block;
		height: 90%;
		margin: 80px 50px 0 10px;
		position: relative;
		width: 40%;
	}

	.testimonial_title1  {
		font-size: 30px;
		padding: 30px 0 0 33px;
	}

	.testimonial_title2  {
		font-size: 30px;
	}

	.testimonial_body  {
		font: 16px 'Open SansRegular';
		height: 135px;
		overflow: hidden;
		padding: 9px 0 0 32px;
		width: 50%;
	}

	.testimonial_photo  {
		position: absolute;
		top: 18px;
    	left: -29px;
	}

	.testimonial_nav  {
		position: absolute;
		left: 20%;
    	bottom: 55%;
	}

	.testimonial_nav li a  {
		background-image: url(../img/test_nav.png);
		display: block;
		height: 0;
		overflow: hidden;
		padding-top: 18px;
		text-decoration: none;
		width: 18px;
	}

	.testimonial_nav li a:hover  {
		background-position: 0 -19px;
	}

	.blog {
		display: inline-block;
		vertical-align: top;
		margin: 108px 0 0 0;
		width: 40%;
	}

	.blog li  {
		padding: 0 0 21px 0;
	}

	.blog_img1  {
		background-image: url(../img/blog_img.png);
		background-repeat: no-repeat;
		float: left;
		padding: 0 8px 0 0;
		height: 49px;
		width: 49px;
	}

	.blog_img2  {
		background-image: url(../img/blog_img.png);
		background-position: 0 -67px;
		background-repeat: no-repeat;
		float: left;
		height: 49px;
		padding: 0 8px 0 0;
		width: 49px;
	}

	.blog_img3  {
		background-image: url(../img/blog_img.png);
		background-position: 0 -131px;
		background-repeat: no-repeat;
		float: left;
		height: 49px;
		padding: 0 8px 0 0;
		width: 49px;
	}

	.blog_title  {
		font-size: 30px;
		padding: 0 0 17px 0;		
	}

	.blog_body_title  {
		font: 16px 'Open SansExtraBold';
	}

	.blog_body  {
		font: 16px 'Open SansRegular';
		height: 25px;
		overflow: hidden;    	
	}

	.blog a  {
		float: right;
		font-size: 18px;
		padding: 0 11px 0 0;
	}

	.logos  {
		height: 100%;
	}

	.logos_img  {
		height: 70px;
		margin: 0 auto;
		padding: 25px 0;
		width: 97%;
	}

	.logos_img li  {
		float: left;
		margin: 0 54px 30px 0;
	}

	.logo1  {
		background-image: url(../img/logos.png);
		height: 64px;
		width: 70px;
	}

	.logo2  {
		background-image: url(../img/logos.png);
		background-position: -69px 0;
		height: 64px;
		width: 74px;
	}

	.logo3  {
		background-image: url(../img/logos.png);
		background-position: -142px 0;
		height: 64px;
		width: 67px;		
	}

	.logo4  {
		background-image: url(../img/logos.png);
		background-position: -208px 0;
		height: 64px;	
		width: 52px;	
	}

	.logo5  {
		background-image: url(../img/logos.png);
		background-position: -259px 0;
		height: 64px;
		width: 105px;	
	}

	.logos_img .logo6  {
		background-image: url(../img/logos.png);
		background-position: 80px 0;
		height: 64px;
		margin: 0;
		width: 80px;
	}

	.footer  {
		background-color: #ececec;
		height: 510px;
	}

	.footer_content  {
		height: 98%;
		margin: 0 auto;
		width: 97%;
	}

	.footer_article  {
		float: left;
		margin: 80px 50px 0 0;
   		width: 20%;
	}

	.footer_article_title_ping  {
		color: #454545;
		font-size: 40px;
	}

	.footer_article_title_ping span  {
		color: #b9b9b9;
	}	

	.footer_article_title  {
		color: #454545;
		font-size: 30px;
		padding: 2px 0 0 0;
	}

	.footer_article_copyright  {
		color: #c5c5c5;
		font: 16px 'Georgia';
		font-style: italic;
		padding: 12px 0 0 0;
	}

	.footer_article_body1  {
		color: #787878;
		font: 16px 'Open SansRegular';
		height: 135px;
		overflow: hidden;
		padding: 10px 0 0 0;
	}

	.footer_article_body  {
		color: #787878;
		font: 16px 'Open SansRegular';
		height: 175px;
		overflow: hidden;
		padding: 10px 0 0 0;
	}

	.footer_menu  {
		background-image: url(../img/footer_menu.jpg);
		background-position: -634px -1188px;
		height: 114px;
	}

	.footer_menu_content  {
		margin: 0 auto;
		padding: 40px 0;
		width: 97%;
	}

	.footer_menu_nav  {
		float: left;
	}

	.footer_menu_nav li  {
		display: inline;
		margin: 0px 0 0 5%;
    	padding: 0px 5px;
	}

	.footer_menu_nav li a  {
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
	}

	.footer_menu_copyright  {
		float: right;
    	font: 12px 'Open SansRegular';
    	padding: 6px 0 0 0;
	}

	.footer_menu_copyright span  {
		font-family: 'Open SansExtraBold';
	}